img {
  width: 70%;
}
div {
  border: 5px solid black;
  width: 20%;
  background: white;
  text-align: center;
  display:inline-block;
  margin-left: 40px;
  margin-top: 40px;

}

p {
  font-size: 20px;
  font-style: italic;
  font-weight: bolder;
}
body {
  background-color: #92C8C8;
  background-image: url(images/alien.png);
  background-size: auto;
  opacity: 60%;
}
h1 {
font-size: auto;
font-family: montserrat;
}

header {
  font-size: 4em;
  border: 5px solid black;
  background-color: white;
}

a:link {
  color:black;
}

a:visited {
  color:black;
}

a:hover {
  color: #92C8C8;
}
